{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <a href={{ .Params.image_link }}><img class="img-fluid mb-50 lozad" width=35% data-src="{{ .Params.Image | absURL }}" alt="blog-image"></a>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ partial "custom-share.html" . }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
